html {
  color: #000;
  background: #FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select {
  *font-size: 100%;
}
legend {
  color: #000;
}
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/* ===== Primary Styles ================================================================================================================================== */
body {
  font-family: osaka, Arial, sans-serif;
  color: #999;
  background: #fff;
  font-size: 10px;
  line-height: 1.3em;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: none;
}
a, a:visited {
  color: #4bc3ee;
  text-decoration: none;
}
a:hover {
  color: #399bc8;
}
input, textarea, select {
  border-radius: 0;
  webkit-border-radius: 0;
  -webkit-appearance: none;
}
input[type="text"] {
  letter-spacing: .1em;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
.mgt30 {
  margin-top: 30px;
}
.mgt50 {
  margin-top: 50px;
}
.mgt100 {
  margin-top: 100px;
}
.mgb30 {
  margin-bottom: 30px;
}
.mgb50 {
  margin-bottom: 50px;
}
.mgb100 {
  margin-bottom: 100px;
}
.center {
  text-align: center;
}
.clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.wrapper {
  margin: 0 10px;
}
/* ===== header ================================================================================================================================== */
.headerContainer {
  margin: 10px;
}
.headerContainer h1 {
  width: 184px;
}
/* ===== snsContainer ==================================================================================================================================*/.snsContainer {
  width: 250px;
  margin: 20px auto;
}
/* ===== contents ==================================================================================================================================*/.contents .captionContainer {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.contents .captionContainer p.cap {
  background: #4BC3EE;
  text-align: center;
  color: #fff;
  padding: 10px;
}
.contents .captionContainer p.news {
  margin: 10px 10px 0;
}
/* ===== onedariContainer ==================================================================================================================================*/.onedariContainer .onedari {
  margin: 30px 0 0;
}
.onedariContainer .onedari ul.twList {
  width: 300px;
}
.onedariContainer .onedari ul.twList li {
  float: left;
  margin: 10px 10px 0 0;
}
.onedariContainer .onedari ul.twList li.last {
  margin-right: 0;
}
/* ===== footer ==================================================================================================================================*/footer {
  margin: 30px 0 0;
}
footer ul.infoLink li {
  width: 160px;
  height: 44px;
  border-top: 1px solid #e1e1e1;
  line-height: 44px;
  text-align: center;
}
footer ul.infoLink li.left {
  width: 159px;
  border-right: 1px solid #e1e1e1;
}
footer ul.infoLink a {
  display: block;
}
footer #copyRight {
  width: 100%;
  padding: 15px 0;
  background: #f6f6f6;
  text-align: center;
}
/* ===== top ==================================================================================================================================*/.present {
  margin: 30px 0 0;
}
.present .presentTtl {
  margin: 0 0 10px;
}
.present .presentTtl .num {
  margin: 0 5px 0 0;
  width: 23px;
  height: 23px;
  border: 1px solid #999;
  border-radius: 20px;
  background: #999;
  color: #fff;
  text-align: center;
  line-height: 23px;
}
.present .onedariBtn {
  margin: 5px 0 0;
}
.present .onedariBtn li {
  width: 150px;
  height: 44px;
  line-height: 44px;
  background: #4bc3ee;
  text-align: center;
  font-size: 12px;
}
.present .onedariBtn li.tw {
  width: 149px;
  border-right: 1px solid #fff;
}
.present .onedariBtn a {
  color: #fff;
  display: block;
}
/* ===== flow02_fb ==================================================================================================================================*/
#flow02_fb .presentInfo {
  margin: 0 0 15px;
}
#flow02_fb .presentInfo .presentImg {
  margin: 15px 0 0;
}
#flow02_fb .presentInfo .presentText {
  line-height: 1.4em;
  font-size: 12px;
  text-align: center;
}
#flow02_fb .fbList {
  margin: 0 0 15px;
}
#flow02_fb .fbList select {
  padding: 0 10px;
  width: 300px;
  border: 1px solid #4BC3EE;
<<<<<<< HEAD
  background: url(../../i_sp/select_bg.png) no-repeat right top;
=======
  background: url(../i_sp/select_bg.png) no-repeat right top;
>>>>>>> bb132131f4c0e5b488fe294885a3bab1c4de4a17
  height: 44px;
  backgournd: #fff;
  -webkit-background-size: 20px 42px;
}
#flow02_fb .menu li {
  width: 150px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow02_fb .menu li.left {
  width: 149px;
  border-right: 1px solid #fff;
}
#flow02_fb .menu a {
  display: block;
  color: #fff;
}
/* ===== flow02_tw ==================================================================================================================================*/
#flow02_tw .presentInfo {
  margin: 0 0 15px;
}
#flow02_tw .presentInfo .presentImg {
  margin: 0 0 15px;
}
#flow02_tw .presentInfo .presentText {
  line-height: 1.4em;
  font-size: 12px;
  text-align: center;
}
#flow02_tw .twPost {
  margin: 0 0 15px;
}
#flow02_tw .twPost input {
  width: 268px;
  height: 42px;
  border: 1px solid #4bc3ee;
  padding: 0 15px;
}
#flow02_tw .menu li {
  width: 150px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow02_tw .menu li.left {
  width: 149px;
  border-right: 1px solid #fff;
}
#flow02_tw .menu a {
  display: block;
  color: #fff;
}
/* ===== flow03 ==================================================================================================================================*/
#flow03 article {
  border-top: 1px solid #ccc;
}
#flow03 article .caption {
  margin: 30px 0;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
}
#flow03 article .formList li {
  margin: 0 0 15px;
}
#flow03 article .formList li label {
  margin: 0 0 10px;
  display: block;
}
#flow03 article .formList li input {
  width: 268px;
  height: 42px;
  border: 1px solid #4bc3ee;
  padding: 0 15px;
}
#flow03 article .formList .twnameContainer {
  margin: 10px 0 0;
}
#flow03 article .formList .submitBtn #SubmitBtn {
  background: #4bc3ee;
  height: 44px;
  width: 300px;
  color: #fff;
}
/* ===== flow04 ==================================================================================================================================*/
#flow04 article {
  border-top: 1px solid #ccc;
}
#flow04 article .caption {
  margin: 30px 0;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
}
#flow04 article .menu {
  margin: 0 0 5px;
}
#flow04 article .menu li {
  width: 300px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow04 article .menu a {
  display: block;
  color: #fff;
}
#flow04 article .menu02 li {
  width: 150px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow04 article .menu02 li.left {
  width: 149px;
  border-right: 1px solid #fff;
}
#flow04 article .menu02 a {
  display: block;
  color: #fff;
}
/* ===== flow05 boy_login==================================================================================================================================*/
#flow05 article {
  border-top: 1px solid #ccc;
}
#flow05 article .caption {
  margin: 15px 0;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
}
#flow05 article .caption h3 {
  margin: 0 0 15px;
}
#flow05 article .news {
  text-align: center;
  margin: 0 0 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}
#flow05 article .menu {
  margin: 0 0 5px;
}
#flow05 article .menu li {
  margin: 0 0 5px;
  width: 300px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow05 article .menu a {
  display: block;
  color: #fff;
}
/* ===== flow06 kyohi ==================================================================================================================================*/#flow06_kyohi .caption {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  margin: 15px 0 30px;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
}
#flow06_kyohi .caption h3 {
  margin: 0 0 15px;
}
#flow06_kyohi .present {
  margin: 30px 0 0;
}
#flow06_kyohi .present .presentTtl {
  text-align: center;
  margin: 0 0 10px;
}
#flow06_kyohi .present .onedariBtn {
  margin: 5px 0 0;
}
#flow06_kyohi .present .onedariBtn li {
  width: 150px;
  height: 44px;
  line-height: 44px;
  background: #4bc3ee;
  text-align: center;
  font-size: 12px;
}
#flow06_kyohi .present .onedariBtn li.tw {
  width: 149px;
  border-right: 1px solid #fff;
}
#flow06_kyohi .present .onedariBtn a {
  color: #fff;
  display: block;
}
/* ===== flow06 ok1 ==================================================================================================================================*/#flow06_success .caption {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  margin: 15px 0;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
}
#flow06_success .caption h3 {
  margin: 0 0 15px;
}
#flow06_success .present {
  margin: 15px 0 0;
}
#flow06_success .present .presentTtl {
  text-align: center;
  margin: 0 0 10px;
}
#flow06_success .present .onedariBtn {
  margin: 0 0 15px;
}
#flow06_success .present .onedariBtn li {
  width: 300px;
  height: 44px;
  line-height: 44px;
  background: #4bc3ee;
  text-align: center;
  font-size: 12px;
}
#flow06_success .present .onedariBtn a {
  color: #fff;
  display: block;
}
#flow06_success .present .presentInfo dl {
  margin: 0 0 20px;
}
#flow06_success .present .presentInfo dt {
  margin: 0 0 10px;
}
/* ===== flow07  ok3==================================================================================================================================*/
#flow07 article {
  border-top: 1px solid #ccc;
}
#flow07 article .caption {
  margin: 15px 0;
  line-height: 1.4em;
  text-align: center;
}
#flow07 article .caption h3 {
  margin: 0 0 15px;
}
#flow07 article .messageForm {
  margin: 0 0 30px;
}
#flow07 article .messageForm textarea {
  display: block;
  width: 278px;
  border: 1px solid #4bc3ee;
  height: 112px;
  margin: 0 0 5px;
  padding: 10px;
}
#flow07 article .messageForm input {
  display: block;
  border: 1px solid #4bc3ee;
  width: 300px;
  height: 44px;
}
#flow07 article .menu {
  margin: 0 0 5px;
}
#flow07 article .menu li {
  width: 300px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow07 article .menu a {
  display: block;
  color: #fff;
}
#flow07 article .menu02 li {
  width: 150px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow07 article .menu02 li.left {
  width: 149px;
  border-right: 1px solid #fff;
}
#flow07 article .menu02 a {
  display: block;
  color: #fff;
}
/* ===== flow08  finish==================================================================================================================================*/
#flow08 article {
  border-top: 1px solid #ccc;
}
#flow08 article .caption {
  border-bottom: 1px solid #ccc;
  margin: 15px 0;
  padding: 0 0 15px;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
}
#flow08 article .caption h3 {
  margin: 0 0 15px;
}
#flow08 article .menu {
  margin: 0 0 5px;
}
#flow08 article .menu li {
  width: 300px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow08 article .menu a {
  display: block;
  color: #fff;
}
#flow08 article .menu02 li {
  width: 150px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #4bc3ee;
}
#flow08 article .menu02 li.left {
  width: 149px;
  border-right: 1px solid #fff;
}
#flow08 article .menu02 a {
  display: block;
  color: #fff;
}
