$size: 12px;
$color:#b6ff00;

/* =============================================================================
    base 
   ========================================================================== */
body { 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "ヒラギノ角ゴ ProN", Arial, sans-serif; 
    color: #000;
    min-width:1000px;
   -webkit-font-smoothing: subpixel-antialiased;
   /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
}
a, a:visited { 
    color: #fff;
    text-decoration: none;  
}
a:hover { 
    color: $color;
}

::-moz-selection { 
background: #b6ff00;
color: #fff;
text-shadow: none;
}

::selection { 
background: #b6ff00; 
color: #fff; 
text-shadow: none; 
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;
}


.wrapper{
   width:1000px;
      margin:0 auto;
}

.left{
    float:left;
}

.right{
    float:right;
}

.clearfix:after{
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}
.clearfix{
  zoom:1;
}

/* =============================================================================
    contentsFlow01 template 
   ========================================================================== */
/*********** header ***********/
header{
    position:relative;
    z-index:2;
    background:$color url(../i/hrimg.png) repeat-x left bottom;
    padding:50px 0 60px;
    .wrapper{
        position:relative;
        h1{
            width:246px;
            margin:0 auto 35px;

        }
        .caption{
            width: 665px;
            margin: 0 auto;
        }
        .snsContainer{
            position:absolute;
            top:-30px;
            right:0;
            .snsButton{
                float:left;
            }   
        }
        iframe.twitter-share-button {
            width: 80px!important;
        }
    }
}
/*********** end header ***********/


/*********** .entryContainer ***********/
.entryContainer{
    padding:40px 0 50px;
    text-align:center;
    -moz-box-shadow: 0px 3px 5px #c9c9c9;
    -webkit-box-shadow: 0px 3px 5px #c9c9c9;
    box-shadow: 0px 3px 5px #c9c9c9;
    position:relative;
    z-index:1;
    .caption{
        font-size:24px;
        margin:0 0 15px;
        strong{
            font-size:48px;
        }
    }
    .parenthesis{
        width:80px;
        margin:-25px 0 0;
    }
    .formContainer{
        width:813px;
        margin:0 13px;
        input{
            display:block;
            float:left;
            font-size:24px;
            color:#d7d7d7;
            letter-spacing:.01em;
            border:none;
        }

        input#twitterAccount{
            width:478px;
            height:70px;
            padding:0 0 0 20px;
            margin:0 10px 0 0;
            border:solid 1px #cccccc;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: #ffffff;

        }
        input#twitterAccount:focus {
            color: #666;
            letter-spacing:.05em;
        }
        input#submitButton{
            width:303px;
            height:73px;
            overflow:hidden;
            background:url(../i/chocokure_btn.png) no-repeat left top;
        }
        input#submitButton:hover{
            background:url(../i/chocokure_btn.png) no-repeat left bottom;
        }

        p{
            margin:20px 0 0;
            text-align:center;
            font-size:$size;
            font-weight:bold;
        }
    }
}
/*********** end .entryContainer ***********/


/*********** .aboutContainer ***********/
.aboutContainer{
    background:url(../i/hrimg02.png)  repeat-x left bottom #f6f6f6;
    padding:100px 0 100px;
    position:relative;
    z-index:0;
    section {
        padding:0 0 100px;
        margin:0 0 100px;
        border-bottom:1px solid #ccc;
        box-shadow:0 1px 0 #fff;
        .textContainer{
            h2{
                margin:0 0 25px;
            }
            p{
                font-size:$size+2;
                line-height:1.6em;
                font-weight:bold;
            }
        }
    }
    #flow2{
        .textContainer{
            margin:60px 0 0;
            padding:0 0 0 30px;
        }
    }
    #flow3{
        margin:0;
        padding:0;
        text-align:center;
        border-bottom:none;
        box-shadow:none;
        h2{
            margin:0 0 25px;
        }
        p{
            margin:0 0 25px;
            font-weight:bold;
            font-size:$size+2;
            line-height:1.6em;

        }
    }

}


.aboutContainer{
    h2.aboutTtl{
        margin:0 0 145px;
        text-align:center;
    }
}

/*********** end .aboutContainer ***********/


/*********** #socialContainer ***********/
#socialContainer{
    background:#f6f6f6;
    padding:55px 0;
    .fbContainer{
        float:left;
        width:560px;
        height:530px;
        overflow:scroll;
    }
    .happyContainer{
        float:right;
        width:390px;
        li{
            margin:0 10px 10px 0;
            float:left;
            width:90px;
            height:90px;
        }
        li.last{
            margin:0;
        }

    }
}
/*********** end #socialContainer ***********/


/*********** footer ***********/
footer{
    font-size:10px;
    letter-spacing:.12em;
    padding:20px 0 0;
    background:#000;
    color:#fff;
    overflow:hidden;
    .createTeam{
        margin:30px 0;
    }
    .team{
        width:1000px;
        h3{
            margin:0 0 30px;
        }
        .teamMember{
            width:256px;
            margin:0 0 20px;
            .memberIcon{
                width:50px;
                float:left;
                margin:0 10px 0 0;
            }
            .memberProfile{
                margin:3px 10px 0 0;
                p.name{
                    font-size:12px;
                    line-height:12px;
                    font-style:normal;
                    margin:0 0 8px;
                    letter-spacing:.2em;
                }
                p.post{
                    line-height:1.4em;
                    letter-spacing:.2em;
                }
            }
            .memberSns{
                margin:30px 0 0;
                .facebookIcon a{
                    display:block;
                    text-indent:-9999px;
                    width:21px;
                    height:20px;
                    margin:0 4px 12px 0;
                    background:url(../i/facebook_icon.png) no-repeat left top;
                }
                .twitterIcon a{
                    display:block;
                    text-indent:-9999px;
                    width:21px;
                    height:20px;
                    margin:0 0 10px;
                    background:url(../i/twitter_icon.png) no-repeat left top;

                }
                .facebookIcon a:hover{
                    background:url(../i/facebook_icon.png) no-repeat left bottom;
                }
                .twitterIcon a:hover{
                    background:url(../i/twitter_icon.png) no-repeat left bottom;
                }
            }

        }
        .last{
            width:232px;
            margin:0;
        }
    }

    ul.info{
        text-align:center;
        padding:0 0 20px;
        li{
            display:inline;
        }
    }
}


/*********** end footer ***********/



/* =============================================================================
    contentsFlow02 
   ========================================================================== */
#formSheet{
    padding:50px 0 60px;
    -moz-box-shadow: 0px 3px 5px #c9c9c9;
    -webkit-box-shadow: 0px 3px 5px #c9c9c9;
    box-shadow: 0px 3px 5px #c9c9c9;
    position:relative;
    z-index:1;
    h2{
        text-align:center;
    }
    .caption{
        text-align:center;
        font-size:$size+2;
        font-weight:bold;
        line-height:1.6em;
        margin:0 0 20px;
    }
    form{
        padding:0 15px;
        .sheetContainer{
            width:476px;
            border:1px solid #d2d2d2;
            font-size:$size;
            margin:0 0 10px;
            li{
                border-bottom:1px solid #d2d2d2;
                background:url(../i/form_bg.png) repeat-x left top;
                .labelContainer{
                    border-right:1px solid #d2d2d2;
                    float:left; padding:20px 0 0;
                    text-align:center;
                    width:100px;
                    label{
                        line-height:20px;
                        color:#525252;
                    }
                }
                .inputContainer {
                    float:left;
                    width:324px;
                    padding:10px 25px 0;
                    input{
                        width:290px;
                        height:25px;
                        padding:5px 20px;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                        -webkit-box-shadow:inset 2px 3px 7px #efefef;
                        box-shadow:inset 2px 3px 7px #efefef;
                        -moz-box-shadow:inset 2px 3px 7px #efefef;
                        border:1px solid #bfbfbf;
                    }
                }
            }
            li.last{
                border:none;
            }
        }
        .submit{
            margin:6px 0 0;
            #sheetBtn{
                border:0;
                width:970px;
                height:52px;
                background:url(../i/submit_btn.png) no-repeat left top;

            }
            #sheetBtn:hover{
                background:url(../i/submit_btn.png) no-repeat left bottom;

            }

        }

    }
}


/* =============================================================================
     contentsFlow03
   ========================================================================== */
#afterEntry{
    padding:135px 0 165px;
    -moz-box-shadow: 0px 3px 5px #c9c9c9;
    -webkit-box-shadow: 0px 3px 5px #c9c9c9;
    box-shadow: 0px 3px 5px #c9c9c9;
    position:relative;
    z-index:1;
    h2{
        text-align:center;
        margin:0 0 5px;
    }

    .caption{
        font-weight:bold;
        text-align:center;
        font-size:$size+2;
        margin:0 0 30px;

    }
    .gotoTop{
        font-size:10px;
        text-align:center;
        a{
            color:#999;
        }
        a:hover{
            color:$color;
        }

    }

    .socialIntroduction{
        text-align:center;
        margin:0 0 30px;
    }

}

/* =============================================================================
     contentsFlow04
   ========================================================================== */
.presentchoco{
    padding:55px 0;
    margin:-62px 0 0;
    -moz-box-shadow: 0px 3px 5px #c9c9c9;
    -webkit-box-shadow: 0px 3px 5px #c9c9c9;
    box-shadow: 0px 3px 5px #c9c9c9;
    position:relative;
    z-index:1;
    .arrow{
        position:relative;
        left:47%;
        top:495px;
    }
    .presentContainer{
        text-align:center;
        margin:0 0 20px;
        .twitterName{
            margin:10px 0 30px;
            font-size:$size*2;
        }
        .pushMessage{
            width:463px;
            margin: 0 auto;
            padding: 0 0 0 335px;
            .twitterImage{
                width:128px;
            }
            .messageContainer{
                width:335px;
                height:128px;
                background:url(../i/messageballoon.png) no-repeat left top;
                p.message{
                    padding:50px 50px 0 110px;
                    text-align:center;
                }
            }
        }
        .btnContainer{
            margin:0 auto;
            width:951px;
            a{
                width:303px;
                height:73px;
                display:block;
                margin:0 20px 0 0;
            }
            a.last{
                margin:0;
            }
            a.over{
                text-indent:-9999px;
                overflow:hidden;
            }
            a.type01{
                background:url(../i/presentchoco_btn01.png) no-repeat left top;
            }
            a.type01:hover{
                background:url(../i/presentchoco_btn01.png) no-repeat left bottom;
            }
            a.type02{
                background:url(../i/presentchoco_btn01.png) no-repeat right top;
            }
            a.type02:hover{
                background:url(../i/presentchoco_btn01.png) no-repeat right bottom;
            }

        }
    }
    h2{
        text-align:center;
        margin:0 0 5px;
    }
    .caption{
        font-weight:bold;
        text-align:center;
        font-size:$size+2;
        margin:0 0 30px;
    }

}

#presentchoco02{
    margin:0;
}



/* =============================================================================
     contentsFlow05
   ========================================================================== */
#contentsFlow05{
    .presentchoco{
        .arrow{
            top:460px;
        }
        .caption{
            font-family:"Hiragino Maru Gothic Pro" ,"HG丸ゴシックM-PRO" ,verdana ,arial ,sans-serif;
            font-size:$size*2;
            font-weight:normal;
        }
    }
    .aboutContainer{
        background-image:none;
        padding-bottom:40px;
    }
}


/* =============================================================================
     contentsFlow06
   ========================================================================== */
#contentsFlow06{
    .presentchoco{
        .arrow{
            top:313px;
        }

        h2{
            text-align:center;
            margin:0 0 30px;
        }
    }
    .socialIntroduction{
        text-align:center;
        margin:0 0 30px;
    }
    p.goTop{ 
        font-size:10px;
        text-align:center;
        a{
            color:#999;
        }
        a:hover{
            color:$color;
        }

    }
    .aboutContainer{
        background-image:none;
        padding-bottom:40px;
    }

}



/* =============================================================================
     contentsFlow07
   ========================================================================== */

#contentsFlow07{
    .presentchoco{
        .arrow{
            top:415px;
        }
        .leftBlock{
            width:220px;
            padding:0 29px 0 143px;
            h2{
                text-align:left;

            }
        }
        .rightBlock{
            padding:100px 0 0;
            width:470px;
        }
    }
    .aboutContainer{
        background-image:none;
        padding-bottom:40px;
    }

}

/* =============================================================================
     contentsFlow08
   ========================================================================== */

#contentsFlow08{
    .presentchoco{
        .wrapper{
            text-align:center;
            .presentdone{
                width:303px;
                margin:0 auto;
                height:73px;
                display:block;
                text-indent:-9999px;
                overflow:hidden;
                background:url(../i/presentdone_btn.png) no-repeat left top;
            }
            .presentdone:hover{
                background:url(../i/presentdone_btn.png) no-repeat left bottom;
            }
        }
        .arrow{
            top:423px;
        }
    }
    .aboutContainer{
        background-image:none;
        padding-bottom:40px;
    }

}


/* =============================================================================
     contentsFlow09
   ========================================================================== */

#contentsFlow09{
    .presentchoco{
        .arrow{
            top:335px;
        }

        h2{
            text-align:center;
            margin:0 0 30px;
        }
    }
    .socialIntroduction{
        text-align:center;
        margin:0 0 30px;
    }
    p.goTop{ 
        font-size:10px;
        text-align:center;
        a{
            color:#999;
        }
        a:hover{
            color:$color;
        }

    }
    .aboutContainer{
        background-image:none;
        padding-bottom:40px;
    }

}




/* =============================================================================
   oldie
   ========================================================================== */
.oldie{ 
    .entryContainer{
        .formContainer{
            input#twitterAccount{
                height:48px;
                padding:20px 0 0 20px;
            }

        }

    }
}


.oldie #formSheet{
    form{
        .sheetContainer{
            li{
                .inputContainer {
                    input{
                        padding:10px 20px 0;
                        vertical-align:middle;
                    }
                }
            }
        }
    }
}


