/app/Config/*.php
/app/Config/*.default
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
.DS_Store
tags
/app/Vendor/pear/.channels/
/app/Vendor/pear/php/.channels/
/app/Vendor/pear/.registry/
/app/Vendor/tmp
/app/Console/cake5
