html {
  color: #000;
  background: #FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select {
  *font-size: 100%;
}
legend {
  color: #000;
}
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/* ===== Primary Styles ================================================================================================================================== */
body {
  font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", Arial, sans-serif;
  color: #999;
  background: #fff;
  font-size: 10px;
  letter-spacing: .09em;
  line-height: 1.3em;
  width: 100%;
  min-width: 1060px;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: none;
}
a, a:visited {
  color: #66c1eb;
  text-decoration: none;
}
a:hover {
  color: #1aa9eb;
}
::-moz-selection {
  background: #66c1eb;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #66c1eb;
  color: #fff;
  text-shadow: none;
}
input[type="text"] {
  letter-spacing: .1em;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
.mgt30 {
  margin-top: 30px;
}
.mgt50 {
  margin-top: 50px;
}
.mgt100 {
  margin-top: 100px;
}
.mgb30 {
  margin-bottom: 30px;
}
.mgb50 {
  margin-bottom: 50px;
}
.mgb100 {
  margin-bottom: 100px;
}
.clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.wrapper {
  width: 1040px;
  margin: 0 auto;
}
/* ===== header ================================================================================================================================== */
header {
  margin: 50px 0 0;
}
header h1 {
  width: 184px;
  position: relative;
}
header .snsContainer {
  width: 250px;
  position: relative;
  text-align: right;
  margin-top: -22px;
  left: 800px;
}
/* ===== footer ==================================================================================================================================*/footer {
  font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3";
  font-size: 10px;
  letter-spacing: .12em;
  padding: 50px 0 0;
  background: #000;
  color: #fff;
  overflow: hidden;
}
footer .team {
  margin-left: 30px;
  width: 1000px;
}
footer .team h3 {
  margin: 0 0 30px;
}
footer .team .teamMember {
  width: 256px;
  margin: 0 0 20px;
}
footer .team .teamMember .memberIcon {
  width: 50px;
  float: left;
  margin: 0 10px 0 0;
}
footer .team .teamMember .memberProfile {
  margin: 3px 10px 0 0;
}
footer .team .teamMember .memberProfile p.name {
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  margin: 0 0 8px;
  letter-spacing: .2em;
}
footer .team .teamMember .memberProfile p.post {
  line-height: 1.4em;
  letter-spacing: .2em;
}
footer .team .teamMember .memberProfile p.post a {
  color: #fff;
}
footer .team .teamMember .memberProfile p.post a:hover {
  color: #66c1eb;
}
footer .team .teamMember .memberSns {
  margin: 30px 0 0;
}
footer .team .teamMember .memberSns .facebookIcon a {
  display: block;
  text-indent: -9999px;
  width: 21px;
  height: 21px;
  margin: 0 4px 12px 0;
  background: url(../i/snsicon.png) no-repeat left top;
}
footer .team .teamMember .memberSns .twitterIcon a {
  display: block;
  text-indent: -9999px;
  width: 21px;
  height: 21px;
  margin: 0 0 10px;
  background: url(../i/snsicon.png) no-repeat right top;
}
footer .team .teamMember .memberSns .facebookIcon a:hover {
  background: url(../i/snsicon.png) no-repeat left bottom;
}
footer .team .teamMember .memberSns .twitterIcon a:hover {
  background: url(../i/snsicon.png) no-repeat right bottom;
}
footer .team .last {
  width: 232px;
  margin: 0;
}
footer ul.info {
  text-align: center;
  padding: 20px 0 20px;
}
footer ul.info li {
  display: inline;
}
footer ul.info a {
  color: #fff;
}
footer ul.info a:hover {
  color: #66c1eb;
}
/* ===== #infoSnsContainer ================================================================================================================================== */
#infoSnsContainer {
  margin: 100px auto 60px;
}
#infoSnsContainer .leftContainer {
  width: 300px;
  font-size: 12px;
}
#infoSnsContainer .leftContainer dl {
  margin: 0 0 30px;
}
#infoSnsContainer .leftContainer dt {
  margin: 0 0 10px;
  color: #000;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", Arial, sans-serif;
}
#infoSnsContainer .leftContainer dd {
  margin: 0 0 7px;
}
#infoSnsContainer .rightContainer {
  width: 740px;
}
#infoSnsContainer .rightContainer .onedariContainer {
  margin: 0 0 50px;
}
#infoSnsContainer .rightContainer .onedariContainer h2 {
  color: #000;
  margin: 0 0 10px;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", Arial, sans-serif;
  font-size: 12px;
}
#infoSnsContainer .rightContainer .onedariContainer .twList {
  margin: 0 0 0 -10px;
  width: 740px;
}
#infoSnsContainer .rightContainer .onedariContainer .twList li {
  margin: 0 0 10px 10px;
  float: left;
}
#infoSnsContainer .rightContainer .twContainer {
  border: 1px solid #ccc;
}
/* ===== top ================================================================================================================================== */
.top .present {
  float: left;
  margin: 0 40px 0 0;
  width: 320px;
}
.top .present.last {
  margin: 0;
}
.top .present h2 {
  color: #999;
  font-size: 14px;
  line-height: 100%;
  padding: 10px 0 5px;
  border-bottom: 1px solid #ccc;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", Arial, sans-serif;
}
.top .present p.price {
  padding: 10px 0;
  color: #999;
  font-size: 10px;
}
.top .present p.price span {
  font-size: 10px;
  padding: 0 0 0 1em;
}
.top .present p.detaile {
  font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3";
  padding: 10px 0;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
}
.top .present ul.onedariContainer {
  margin: 15px 0 0;
}
/* ===== girl_2nd ================================================================================================================================== */
.girl_2nd {
  width: 827px;
  /* end formContainer */

}
.girl_2nd .captionContainer {
  margin: 60px 0 60px;
}
.girl_2nd .formContainer {
  margin: 0 0 30px;
}
.girl_2nd .formContainer .presentImg {
  width: 320px;
  height: 300px;
}
.girl_2nd .formContainer .sheetContainer {
  font-size: 12px;
  font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3";
  width: 475px;
  border: 1px solid #d2d2d2;
  color: #525252;
}
.girl_2nd .formContainer .sheetContainer li {
  border-bottom: 1px solid #d2d2d2;
  background: url(../i/form_inputbg.png) repeat-x left top;
  height: 59px;
}
.girl_2nd .formContainer .sheetContainer li .labelContainer {
  border-right: 1px solid #d2d2d2;
  float: left;
  text-align: center;
  width: 100px;
}
.girl_2nd .formContainer .sheetContainer li .labelContainer label {
  height: 59px;
  line-height: 59px;
  color: #525252;
}
.girl_2nd .formContainer .sheetContainer li .inputContainer {
  float: left;
  width: 324px;
  padding: 12px 25px 0;
}
.girl_2nd .formContainer .sheetContainer li .inputContainer input {
  width: 295px;
  height: 25px;
  line-height: 25px;
  padding: 5px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 3px 7px #efefef;
  box-shadow: inset 2px 3px 7px #efefef;
  -moz-box-shadow: inset 2px 3px 7px #efefef;
  border: 1px solid #bfbfbf;
}
.girl_2nd .formContainer .sheetContainer li.last {
  border: none;
  height: 58px;
}
.girl_2nd .fbContainer {
  margin: 0 0 30px;
}
.girl_2nd .submit #fbSubmitBtn {
  border: 0;
  width: 827px;
  height: 52px;
  background: url(../i/girl_2nd_fb_btn.png) no-repeat left top;
}
.girl_2nd .submit #fbSubmitBtn:hover {
  background: url(../i/girl_2nd_fb_btn.png) no-repeat left bottom;
}
/* ===== #girl_2nd_tw ================================================================================================================================== */
#girl_2nd_tw .formContainer .presentImg {
  height: 210px;
  overflow: hidden;
}
#girl_2nd_tw .formContainer .twAccountForm {
  margin: 10px 0 0;
}
#girl_2nd_tw .formContainer .twAccountForm .sheetContainer {
  width: 318px;
  border: 1px solid #d2d2d2;
}
#girl_2nd_tw .formContainer .twAccountForm .sheetContainer li {
  border-bottom: none;
}
#girl_2nd_tw .formContainer .twAccountForm .sheetContainer li .inputContainer {
  float: none;
  width: 280px;
  padding: 12px 20px 0;
}
#girl_2nd_tw .formContainer .twAccountForm .sheetContainer li .inputContainer input {
  line-height: 25px;
  width: 248px;
  height: 25px;
}
#girl_2nd_tw .formContainer .twAccountForm p.txt {
  margin: 8px 0 0;
  font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3";
  font-size: 12px;
}
#girl_2nd_tw .submit #twSubmitBtn {
  border: 0;
  width: 827px;
  height: 52px;
  background: url(../i/girl_2nd_tw_btn.png) no-repeat left top;
}
#girl_2nd_tw .submit #twSubmitBtn:hover {
  background: url(../i/girl_2nd_tw_btn.png) no-repeat left bottom;
}
/* ===== #girl_finish================================================================================================================================== */
#girl_finish {
  width: 827px;
}
#girl_finish .captionContainer {
  margin: 60px 0 0;
}
#girl_finish .goTop {
  text-align: center;
}
/* ===== boy ================================================================================================================================== */
.boy .onedariGirlContainer {
  width: 520px;
  margin: 50px auto 30px;
  position: relative;
}
.boy .onedariGirlContainer .imgContainer {
  width: 100px;
  float: left;
}
.boy .onedariGirlContainer .commentContainrt {
  width: 420px;
  height: 106px;
  float: left;
  background: url(../i/balloon_bg.png) no-repeat left top;
}
.boy .onedariGirlContainer .commentContainrt p.comment {
  padding: 30px 30px 10px 90px;
  text-align: center;
  color: #66c1eb;
  line-height: 1.6em;
}
.boy .onedariCaption {
  text-align: center;
  color: #999;
  font-size: 32px;
  letter-spacing: .07em;
  line-height: 1.4em;
}
.boy .onedariCaption .pink {
  color: #66c1eb;
}
.boy .info {
  margin: 15px 0 0;
  color: #999;
  font-size: 10px;
  line-height: 1.7em;
}
.boy .present {
  margin: 50px auto 30px;
  width: 320px;
}
.boy .present.last {
  margin: 0;
}
.boy .present h2 {
  color: #999;
  font-size: 32px;
  line-height: 100%;
  padding: 20px 0 5px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", Arial, sans-serif;
}
.boy .present p.price {
  padding: 10px 0;
  color: #999;
  text-align: center;
  font-size: 14px;
}
.boy .present p.price span {
  font-size: 10px;
  padding: 0 0 0 1em;
}
.boy .choiceBtn {
  width: 624px;
  margin: 0 auto;
}
.boy .choiceBtn li {
  float: left;
  width: 302px;
  margin: 0 20px 0 0;
}
.boy .choiceBtn li.last {
  margin: 0;
}
/* ===== boy OK1 ================================================================================================================================== */
#boy_ok1 .choiceBtn {
  width: 302px;
  margin: 60px auto 0;
}
#boy_ok1 #info_text_paypal {
  margin-top: 60px;
}
#boy_ok1 #info_text_paypal p {
  text-align: center;
  font-size: 12px;
  line-height: 1.6em;
}
#boy_ok1 #info_text_paypal .info_title {
  font-size: 18px;
}
/* ===== boy OK2 ================================================================================================================================== */
#boy_ok2 .onedariCaption {
  margin: 50px 0 0;
}
#boy_ok2 .choiceBtn {
  margin: 30px auto 20px;
  width: 567px;
}
#boy_ok2 .choiceBtn li {
  width: 280px;
  margin: 0 7px 0 0;
}
#boy_ok2 .choiceBtn li.last {
  margin: 0;
}
#boy_ok2 .goTop {
  text-align: center;
}
/* ===== boy kyohi2 ================================================================================================================================== */
#boy_kyohi2 .onedariCaption {
  margin: 50px 0 0;
}
#boy_kyohi2 .choiceBtn {
  margin: 30px auto 20px;
  width: 567px;
}
#boy_kyohi2 .choiceBtn li {
  width: 280px;
  margin: 0 7px 0 0;
}
#boy_kyohi2 .choiceBtn li.last {
  margin: 0;
}
#boy_kyohi2 .goTop {
  text-align: center;
}
/* ===== boy login ================================================================================================================================== */
#boy_login .onedariCaption {
  margin: 100px 0 0;
}
#boy_login #login_selesct {
  width: 710px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
#boy_login #login_selesct .tw {
  margin-right: 10px;
}
#boy_login_copyright {
  margin-top: 50px;
  background-color: #fff;
  text-align: center;
}
/* ===== paypal login ================================================================================================================================== */
#boy_paypal_login {
  margin: 0 auto;
  float: none;
}
#boy_paypal_login #login_selesct {
  text-align: center;
  margin-top: 50px;
}
#boy_paypal_login #login_selesct .boy_login_fb {
  margin-left: 10px;
}
#boy_paypal_login #login_selesct a:hover {
  opacity: 0.8;
}
#boy_paypal_login p {
  margin-top: 100px;
  background-color: #fff;
  text-align: center;
}
/* ===== paypal login 鶴岡くんの作業終わったらスタイル調整================================================================================================================================== */
#paypal_form {
  width: 1040px;
  margin: 0 auto;
}
#paypal_form #paypal_sample {
  margin-top: 100px;
}
/* ===== boy message ================================================================================================================================== */
#boy_ok2 #messagebox {
  text-align: center;
}
#boy_ok2 #messagebox .freeform {
  margin: 50px 0 10px 0;
  width: 100%;
  text-align: left;
  height: 28px;
  border: solid 1px #ccc;
  font-size: 18px;
  color: #999;
  padding: 10px;
  text-align: center;
}
#boy_ok2 #messagebox .messagebtn {
  text-align: center;
  margin-top: 30px;
  float: none;
}
/* ===== old ie ================================================================================================================================== */
.oldie #girl_2nd_tw .formContainer .twAccountForm .sheetContainer li .inputContainer {
  float: none;
  width: 280px;
  padding: 12px 20px 0;
}
.oldie #girl_2nd_tw .formContainer .twAccountForm .sheetContainer li .inputContainer input {
  line-height: 25px;
  width: 248px;
  height: 25px;
}
.oldie .girl_2nd {
  /* end formContainer */

}
.oldie .girl_2nd .formContainer .sheetContainer li .inputContainer {
  float: left;
  width: 324px;
  padding: 12px 25px 0;
}
.oldie .girl_2nd .formContainer .sheetContainer li .inputContainer input {
  width: 295px;
  height: 25px;
  line-height: 25px;
  padding: 5px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 3px 7px #efefef;
  box-shadow: inset 2px 3px 7px #efefef;
  -moz-box-shadow: inset 2px 3px 7px #efefef;
  border: 1px solid #bfbfbf;
}
.oldie .girl_2nd .formContainer .sheetContainer li.last {
  border: none;
  height: 58px;
}
