@import "reset.less";

/* ===== Primary Styles ================================================================================================================================== */
@color:#4BC3EE;

body {
    font-family:osaka, Arial, sans-serif;
    color: #999;
    background: #fff;
    font-size: 10px;
    line-height: 1.3em;
    width:100%;
    -webkit-font-smoothing: subpixel-antialiased;
    /* Fix for webkit rendering */
-webkit-text-size-adjust: none; }

a, a:visited {
    color: @color;
text-decoration: none; }

a:hover {
color: #399bc8; }

input,textarea,select{
    border-radius:0;
    webkit-border-radius:0;
    -webkit-appearance:none;

}
input[type="text"]{
    letter-spacing:.1em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mgt30{
    margin-top:30px;
}

.mgt50{
    margin-top:50px;
}

.mgt100{
    margin-top:100px;
}

.mgb30{
    margin-bottom:30px;
}

.mgb50{
    margin-bottom:50px;
}

.mgb100{
    margin-bottom:100px;
}

.center{text-align:center;}
.clearfix:after {
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.wrapper{
    margin:0 10px;
}


/* ===== header ================================================================================================================================== */
.headerContainer{
    margin:10px;
    h1
    {
        width:184px;

    }

}


/* ===== snsContainer ==================================================================================================================================*/ 
.snsContainer{
    width:250px;
    margin:20px auto;
}


/* ===== contents ==================================================================================================================================*/ 
.contents{
    .captionContainer{
        padding-bottom:10px;
        border-bottom:1px solid #ccc;
        p.cap{
            background:#4BC3EE;
            text-align:center;
            color:#fff;
            padding:10px;
        }
        p.news{margin:10px 10px 0;}
    }
}


/* ===== onedariContainer ==================================================================================================================================*/ 
.onedariContainer{
    .onedari{
        margin:30px 0 0;
        ul.twList{
            width:300px;
            li{
                float:left;
                margin:10px 10px 0 0;
                &.last{margin-right:0;}
            }
        }
    }
}




/* ===== footer ==================================================================================================================================*/ 
footer{
    margin:30px 0 0;
    ul.infoLink{
        
        li{
            width:160px;
            height:44px;
            border-top:1px solid #e1e1e1;
            line-height:44px;
            text-align:center;
        }
        li.left{
            width:159px;
            border-right:1px solid #e1e1e1;
        }
        a{display:block;}
    }
    #copyRight{
        width:100%;
        padding:15px 0;
        background:#f6f6f6;
        text-align:center;
    }
}



/* ===== top ==================================================================================================================================*/ 

.present{
    margin:30px 0 0;

    .presentTtl{
        margin:0 0 10px;
        .num{
            margin:0 5px 0 0;
            width:23px;
            height:23px;
            border:1px solid #999;
            border-radius:20px;
            background:#999;
            color:#fff;
            text-align:center;
            line-height:23px;
        }
    }


    .onedariBtn{
        margin:5px 0 0;
        li{
            width:150px;
            height:44px;
            line-height:44px;
            background:@color;
            text-align:center;
            font-size:12px;
        }
        li.tw{
            width:149px;
            border-right:1px solid #fff;
        }
        a{
        color:#fff;
        display:block;
        }
    }
}


/* ===== flow02_fb ==================================================================================================================================*/


#flow02_fb{

    .presentInfo{
        padding-top:15px;
        border-top:1px solid #ccc;

        .presentImg{margin:15px 0 15px;}
        .presentText{
            line-height:1.4em;
            font-size:12px;
            text-align:center;
        }
    }


        .caption{
            margin:30px 0;
            font-size:12px;
            line-height:1.4em;
            text-align:center;
        }




        .fbList{
            margin:0 0 15px;
            select{
                padding:0 10px;
                width:300px;
                border:1px solid #4BC3EE;
                background:url(../i_sp/select_bg.png) no-repeat right top;
                height:44px;
                backgournd:#fff;
                -webkit-background-size:20px 42px;
            }
        }
        .formList{
            li{
                margin:0 0 15px;
                label{
                    margin:0 0 10px;
                    display:block;
                }
                input{
                    width:268px;
                    height:42px;
                    border:1px solid @color;
                    padding:0 15px; 
                }
            }
            .fbnameContainer{margin:10px 0 0;}
            .submitBtn{
                #SubmitBtn{
                    font-size:12px;
                    background:@color;
                    height:44px;
                    width:300px;
                    color:#fff;
                }
            }
        }
    }   





/* ===== flow02_tw ==================================================================================================================================*/
#flow02_tw{
    .presentInfo{
        margin:0 0 15px;
        .presentImg{margin:0 0 15px;}
        .presentText{
            line-height:1.4em;
            font-size:12px;
            text-align:center;
        }
    }
    .twPost{
        margin:0 0 15px;
        input{
            width:268px;
            height:42px;
            border:1px solid @color;
            padding:0 15px;
        }
    }
    .menu{
        li{
            width:150px;
            height:44px;
            line-height:44px;
            text-align:center;
            background:@color;
            
        }
        li.left{
            width:149px;
            border-right:1px solid #fff;
        }
        a{
            display:block;
            color:#fff;

        }
    }
}


/* ===== flow03 ==================================================================================================================================*/
#flow03{
    article{
        border-top:1px solid #ccc;
        .caption{
            margin:30px 0;
            font-size:12px;
            line-height:1.4em;
            text-align:center;
        }


        .formList{
            li{
                margin:0 0 15px;
                label{
                    margin:0 0 10px;
                    display:block;
                }
                input{
                    width:268px;
                    height:42px;
                    border:1px solid @color;
                    padding:0 15px; 
                }
            }
            .twnameContainer{margin:10px 0 0;}
            .submitBtn{
                #SubmitBtn{
                    font-size:12px;
                    background:@color;
                    height:44px;
                    width:300px;
                    color:#fff;
                }
            }
        }
    }   

}



/* ===== flow04 ==================================================================================================================================*/

#flow04{
    article{
        border-top:1px solid #ccc;
        .caption{
            margin:30px 0;
            font-size:12px;
            line-height:1.4em;
            text-align:center;
        }
        .menu{
            margin:0 0 5px;
            li{
                width:300px;
                height:44px;
                line-height:44px;
                text-align:center;
                background:@color;

            }
            a{
                display:block;
                color:#fff;

            }
        }
        .menu02{
            li{
                width:150px;
                height:44px;
                line-height:44px;
                text-align:center;
                background:@color;

            }
            li.left{
                width:149px;
                border-right:1px solid #fff;
            }
            a{
                display:block;
                color:#fff;

            }
        }

    }   
}

/* ===== flow05 boy_login==================================================================================================================================*/

#flow05{
    article{
        border-top:1px solid #ccc;
        .caption{
            h3{margin:0 0 15px;}
            margin:15px 0;
            font-size:12px;
            line-height:1.4em;
            text-align:center;
        }
        
        .news{
            text-align:center;
            margin:0 0 30px;
            border-top:1px solid #ccc;
            border-bottom:1px solid #ccc;
            padding:8px 0;
        }

        .menu{
            margin:0 0 5px;
            li{
                margin:0 0 5px;
                width:300px;
                height:44px;
                line-height:44px;
                text-align:center;
                background:@color;

            }
            a{
                display:block;
                color:#fff;

            }
        }

    }   
}


/* ===== flow06 kyohi ==================================================================================================================================*/ 
#flow06_kyohi{

    .caption{
        h3{margin:0 0 15px;}
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding:15px 0;
        margin:15px 0 30px;
        font-size:12px;
        line-height:1.4em;
        text-align:center;
    }


    .present{
        margin:30px 0 0;

        .presentTtl{
            text-align:center;
            margin:0 0 10px;
        }


        .onedariBtn{
            margin:5px 0 0;
            li{
                width:150px;
                height:44px;
                line-height:44px;
                background:@color;
                text-align:center;
                font-size:12px;
            }
            li.tw{
                width:149px;
                border-right:1px solid #fff;
            }
            a{
                color:#fff;
                display:block;
            }
        }
    }
}

/* ===== flow06 ok1 ==================================================================================================================================*/ 
#flow06_success{

    .caption{
        h3{margin:0 0 15px;}
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding:15px 0;
        margin:15px 0; 
        font-size:12px;
        line-height:1.4em;
        text-align:center;
    }


    .present{
        margin:15px 0 0;

        .presentTtl{
            text-align:center;
            margin:0 0 10px;
        }


        .onedariBtn{
            margin:0 0 15px;
            li{
                width:300px;
                height:44px;
                line-height:44px;
                background:@color;
                text-align:center;
                font-size:12px;
            }

            a{
                color:#fff;
                display:block;
            }
        }
        .presentInfo{
            dl{margin:0 0 20px;}
            dt{margin:0 0 10px;}
        }
    }
}


/* ===== flow07  ok3==================================================================================================================================*/

#flow07{
    article{
        border-top:1px solid #ccc;
        .caption{
            h3{margin:0 0 15px;}
            margin:15px 0;


            line-height:1.4em;
            text-align:center;
        }

        .messageForm{
            margin:0 0 30px;
            textarea{
                display:block;
                width:278px;
                border:1px solid @color;
                height:112px;
                margin:0 0 5px;
                padding:10px;
            }
            input{
                display:block;
                border:1px solid @color;
                width:300px;
                height:44px;
            }
        }


        .menu{
            margin:0 0 5px;
            li{
                width:300px;
                height:44px;
                line-height:44px;
                text-align:center;
                background:@color;

            }
            a{
                display:block;
                color:#fff;

            }
        }
        .menu02{
            li{
                width:150px;
                height:44px;
                line-height:44px;
                text-align:center;
                background:@color;

            }
            li.left{
                width:149px;
                border-right:1px solid #fff;
            }
            a{
                display:block;
                color:#fff;

            }
        }

    }   
}





/* ===== flow08  finish==================================================================================================================================*/

#flow08{
    article{
        border-top:1px solid #ccc;
        .caption{
            h3{margin:0 0 15px;}
            border-bottom:1px solid #ccc;
            margin:15px 0;
            padding:0 0 15px;
            font-size:12px;
            line-height:1.4em;
            text-align:center;
        }
        .menu{
            margin:0 0 5px;
            li{
                width:300px;
                height:44px;
                line-height:44px;
                text-align:center;
                background:@color;

            }
            a{
                display:block;
                color:#fff;

            }
        }
        .menu02{
            li{
                width:150px;
                height:44px;
                line-height:44px;
                text-align:center;
                background:@color;

            }
            li.left{
                width:149px;
                border-right:1px solid #fff;
            }
            a{
                display:block;
                color:#fff;

            }
        }

    }   
}





